* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 10px;
    padding: 10px;
    display: grid;
    grid-template-areas: 
    "header header header"
    "nav article ads"
    "footer footer footer";
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns: 20% 1fr 15%;
    gap: 10px;
    height: 100vh;
    margin: 10px;
}
header, footer, article, nav, div {
    padding: 20px;
    background: goldenrod;
}

#pageHeader {
    grid-area: header;
}

#pageFooter {
    grid-area: footer;
}

#mainArticle {
    grid-area: article;
}

#mainNav {
    grid-area: nav;
}

#siteAds {
    grid-area: ads;
}
